/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 1, 2015, 1:06:30 PM
    Author     : calvinehicks
*/

#banner{
    background-image: linear-gradient(170deg, #ADD8E6, #FFFFFF);;
    height: 10%;
}
#banner-image{
    min-height: auto;
    width:40%;
    margin-left:10px;
    margin-right: 10px;
    margin-top:10px;
}
#banner-name{
    font-size: 450%;
    margin-bottom:20px;
}